<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Form Edit Data</h2>
          
            <form action="/edit/<%= data._id %>" method="POST" class="row g-3">
              
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" required>
                </div>
                <div class="col-md-6">
                    <label for="jenis_hewan" class="form-label">Jenis Hewan</label>
                    <input type="text" class="form-control" id="jenis_hewan" name="jenis_hewan" value="<%= data.jenis_hewan %>" required>
                </div>
                <div class="col-12">
                    <label for="ras" class="form-label">Ras</label>
                    <input type="text" class="form-control" id="ras" name="ras" value="<%= data.ras %>" required>
                </div>
                <div class="col-12">
                    <label for="service" class="form-label">Service</label>
                    <input type="text" class="form-control" id="service" name="service" value="<%= data.service %>" required>
                </div>
                <div class="col-md-4">
                    <label for="owner" class="form-label">Owner</label>
                    <select id="owner" name="owner" class="form-select">
                        <option selected>Choose...</option>
                        <% owners.forEach(function(owner) { %>
                            <option value="<%= owner._id %>" <%= (data.owner && data.owner._id.toString() === owner._id.toString()) ? 'selected' : '' %>><%= owner.nama %></option>
                        <% }) %>
                    </select>
                </div>
               
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
